
	
	<footer id="footer">
		<section class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="widget widget_contact">
						<h3 class="widget_title">Who are we?</h3>
						<h3 class="widget_title">WRITEPLUG NIGERIA</h3>
						<p>A dedicated platform for powering the
							research system with
							unlimited resource materials to serve the good
							purpose of literature review and the
							advancement of knowledge.</p>

					</div>
				</div>
				<div class="col-md-4">
					<div class="widget">
						<h3 class="widget_title">Quick Links</h3>
						<ul>
							<li><a href="index.html">About Us</a></li>
							<li><a href="ask_question.html">Terms and conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="cat_question.html">Investors/Partners</a></li>
							<% if (typeof(user) != 'undefined') { %>
								<li><a href="/logout">Log Out</a></li>
							<% } %>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="widget widget_contact">
						<h3 class="widget_title">REACH US ON:</h3>
						<h3 class="widget_title">+239074950083</h3>
						<p>writeplugng@gmail.com<br>
						Area 10, Garki, Abuja.</p>
					</div>	
				</div>
			</div><!-- End row -->
		</section><!-- End container -->
	</footer><!-- End footer -->


	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/mixitup.min.js"></script>
	<script src="/js/circle-progress.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>