<div class="container">
    <div class="hero-text text-white">
        <h2>Quick Project Search</h2>
        <p>Download or Upload Academic Research Topics and Materials for Students in Tertiary Institution. <br>Search through our research Catalog and find final year research topics for HND, B.Sc, M.Sc, P.hD</p>
    </div>
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <form class="intro-newslatter" method="GET" action="">
                <input type="text" name="project"placeholder="Project Topic" required>
                <input type="text" name="category" class="last-s" placeholder="Category">
                <button type="submit" class="site-btn">Search</button>
            </form>
        </div>
    </div>
</div>