<%- include('partials/header') %>
<link rel="stylesheet" href="css/projects.css">
<%- include('partials/navbar') %>
<div class="container">
    <div class="content">
        <h2>About Us</h2>
        <p>Writeplug.net is an academic resource center where information is made available for researchers to review
            and identify necessary gaps as they go about filling research gaps. Broadly speaking, you may choose to see
            this website as an academic hub for quality research documents and also a business hub for quality research
            writers. This implies that researchers can throw their weights on several topics and make same available for
            other researchers to review at a meager cost using our platform. In other words, we serve to let you serve.
            This encapsulates who we are. Should you have further inquiries to make, feel free to call Writeplug 24hours
            support center by the mobile number provided on the homepage.</p>
    </div>
</div>
<%- include('partials/footer') %>