<%- include('partials/header') %>
<link rel="stylesheet" href="css/projects.css">
<%- include('partials/navbar') %>
<div class="container">
    <div class="content">
        <h2>Investors and Partners</h2>
        <p>Writeplug NG is a Registered business in Nigeria and currently have no external sponsorship/partner. We are
            open for partnership with academic research institutes or persons interested in research and fact finding.
            For inquiries on how to become a partner or sponsor, write a request through <a
                href="mailto:writeplugng@gmail.com">writeplugng@gmail.com</a> </p>
    </div>
</div>
<%- include('partials/footer') %>