<%- include('partials/header') %>
<link rel="stylesheet" href="css/projects.css">
<%- include('partials/navbar') %>
<div class="container">
    <div class="content">
        <h2 class="text-center">Privacy Policy</h2>

        <p>At Writeplug, accessible from <a href="https://www.writeplug.net">www.writeplug.net</a>, one of our main priorities is the privacy of our visitors.
            This Privacy Policy document contains types of information that is collected and recorded by Writeplug.net
            and how we use it.</p>
        <ul>
            <li>
                <p>If you have additional questions or require more information about our Privacy Policy, do not
                    hesitate to contact us.</p>
            </li>
            <li>
                <p>Log Files: Writeplug.net follows a standard procedure of using log files. These files log visitors
                    when they visit websites. All hosting companies do this and a part of hosting services' analytics.
                    The information collected by log files include internet protocol (IP) addresses, browser type,
                    Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number
                    of clicks. The purpose of the information is for analyzing trends, administering the site, tracking
                    users' movement on the website, and gathering demographic information. In addition, personal
                    information of users are collected to enable proper identification of clients, letting clients know
                    us and also serve clients need. </p>
            </li>
        </ul>

        <h2 class="text-center">Cookies Policies</h2>
        <p>We employ the use of cookies. By accessing Writeplug.net, you agreed to use cookies in agreement with the
            Writeplug’s Privacy Policy. Most interactive websites use cookies to let us retrieve the user’s details for
            each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier
            for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>
        <h2 class="text-center">License and Information Use</h2>
        <p>Writeplug.net does not own the intellectual property rights for all material on the site. Thus, the materials
            and information on the site shall serve majorly to provide general information to site users especially the
            research materials which shall serve the purpose of academic archive for literature review. In other words,
            we shall not be held responsible for cases of plagiarism as this site only allows information that meets
            clients need without necessarily claiming the intellectual right of same. </p>
        <h2 class="text-center">Hyperlinking to our Content</h2>
        <p>The following organizations may link to our Website without prior written approval:</p>
        <ul>
            <li>
                <p>Government agencies</p>
            </li>
            <li>
                <p>Search engines</p>
            </li>
            <li>
                <p>Online directory distributors may link to our Website in the same manner as they hyperlink to the
                    Websites of other listed businesses; and</p>
            </li>
            <li>
                <p>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls,
                    and charity fundraising groups which may not hyperlink to our Web site.</p>
            </li>
        </ul>
        <p>These organizations may link to our home page, to publications or to other Website information so long as the
            link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of
            the linking party and its products and/or services; and (c) fits within the context of the linking party’s
            site.</p>
        <p>We may consider and approve other link requests from the following types of organizations:</p>
        <ul>
            <li>
                <p>Commonly-known consumer and/or business information sources</p>
            </li>
            <li>
                <p>dot.com community sites</p>
            </li>
            <li>
                <p>Online directory distributors</p>
            </li>
            <li>
                <p>Internet portals</p>
            </li>
            <li>
                <p>Accounting, law and consulting firms; and</p>
            </li>
            <li>
                <p>Educational institutions and trade associations</p>
            </li>


        </ul>
        <p>We will approve link requests from these organizations if we decide that: (a) the link would not make us look
            unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative
            records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of
            Writeplug; and (d) the link is in the context of general resource information. Also, these organizations may
            link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply
            sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within
            the context of the linking party’s site.
            If you are one of the organizations listed above and are interested in linking to our website, you must
            inform us by sending an e-mail to writeplugng@gmail.com. Please include your name, your organization name,
            contact information as well as the URL of your site, a list of any URLs from which you intend to link to our
            Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.
        </p>
        <p>Approved organizations may hyperlink to our Website as follows:</p>
        <ul>
            <li>
                <p>By use of our corporate name; or</p>
            </li>
            <li>
                <p>By use of the uniform resource locator being linked to; or</p>
            </li>
            <li>
                <p>By use of any other description of our Website being linked to that makes sense within the context
                    and format of content on the linking party’s site.</p>
            </li>
            <li>
                <p>No use of Writeplug's logo or other artwork will be allowed for linking absent a trademark license
                    agreement.</p>
            </li>

        </ul>

        <h2 class="text-center">Content Liability</h2>
        <p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and
            defend us against all claims that is rising on your Website. No link(s) should appear on any Website that
            may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates
            the infringement or other violation of, any third party rights</p>
        <h2 class="text-center">Reservation of Rights</h2>
        <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve
            to immediately remove all links to our Website upon request. We also reserve the right to amend these terms
            and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be
            bound to and follow these linking terms and conditions.</p>
        <h2 class="text-center">Disclaimer</h2>
        <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions
            relating to our website and the use of this website. Nothing in this disclaimer will:</p>
        <ul>
            <li>
                <p>Limit or exclude our or your liability for death or personal injury;</p>
            </li>
            <li>
                <p>Limit or exclude our or your liability for fraud or fraudulent misrepresentation;</p>
            </li>
            <li>
                <p>Limit any of our or your liabilities in any way that is not permitted under applicable law; or</p>
            </li>
            <li>
                <p>Exclude any of our or your liabilities that may not be excluded under applicable law.</p>
            </li>
        </ul>
    </div>

</div>
<%- include('partials/footer') %>